services:
  - type: web
    name: cheap-tts
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -w 4 -b 0.0.0.0:$PORT webapp.app:app
    envVars:
      - key: FLASK_SECRET_KEY
        generateValue: true
      - key: DEBUG_MODE
        value: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_PRICE_ID
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: ADMIN_API_KEY
        sync: false
